<nb-card fullscreen>
  <nb-card-header>Enter Golongan</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input nbInput fullWidth fieldSize="small" type="text" placeholder="Golongan" #golongan>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <nb-checkbox (checkedChange)="toggle($event)">Default Golongan</nb-checkbox>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
    <button nbButton status="success" (click)="submit(golongan.value)">Submit</button>
  </nb-card-footer>
</nb-card>
